<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <link href="/css/reset.css" type="text/css" rel="stylesheet" >
    <link href="/css/style.css" type="text/css" rel="stylesheet" >
    <link href="/css/layout.css" type="text/css" rel="stylesheet" >
    <link href="/css/header.css" type="text/css" rel="stylesheet" >
    <link href="/css/footer.css" type="text/css" rel="stylesheet" >
	<link href="/css/component/aside.css" type="text/css" rel="stylesheet" >
	<link href="/css/component/cart-section.css" type="text/css" rel="stylesheet" >
	<link href="/css/component/menu-category.css" type="text/css" rel="stylesheet" >
    <link href="/css/component/menu-section.css" type="text/css" rel="stylesheet" >
	<link href="/css/component/search-header.css" type="text/css" rel="stylesheet" >
	
	<link href="/css/component/menu-detail.css" type="text/css" rel="stylesheet" >
	<link href="/css/component/nutrition-info.css" type="text/css" rel="stylesheet" >

    <link href="/css/component.css" type="text/css" rel="stylesheet" >
    <link href="/css/buttons.css" type="text/css" rel="stylesheet" >
    <link href="/css/icon.css" type="text/css" rel="stylesheet" >
    <link href="/css/deco.css" type="text/css" rel="stylesheet" >
    
    <link href="/css/utils.css" type="text/css" rel="stylesheet" >    
</head>
<body>
	<!-- header -->
	<div th:replace="~{inc/header}"></div>
	<!-- main -->
	<div layout:fragment="main"></div>
	
	<!-- footer -->
	<div th:replace="~{inc/footer}"></div>
</body>
</html>